---
import { getCollection } from "astro:content";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import List from "../../components/List.astro";

const events = (await getCollection("event")).sort(
    (a, b) => b.data.start.valueOf() - a.data.start.valueOf(),
);
---

<Layout>
    <Header />
    <main class="container mx-auto px-4 my-6">
        <List events={events} />
    </main>
    <Footer />
</Layout>
