@import "tailwindcss";

:root {
	--color-primary: #181818;

	--fc-button-bg-color: var(--color-primary);
	--fc-button-border-color: var(--color-primary);

	--fc-button-active-bg-color: #181818;
	--fc-button-active-border-color: #181818;

	--fc-button-hover-bg-color: #353535;
	--fc-button-hover-border-color: #353535;
}

@theme {
	--color-primary: var(--color-primary);
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
	box-shadow: none;
}

.fc .fc-button-primary:focus {
	box-shadow: none;
}