---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Title from "@/components/Title.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Contacto" description="Página de contacto para enviar mensajes.">
    <Header />
    <main class="flex-1">
        <Title title="Contacto" />
        <section class="w-full max-w-6xl mx-auto">
            <form
                class="max-w-md space-y-4 flex flex-col p-4"
                method="POST"
                accept-charset="UTF-8"
                id="form"
            >
                <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    class="border p-2"
                    required
                />
                <textarea
                    name="message"
                    placeholder="Mensaje"
                    class="border p-2"
                    rows="4"
                    required></textarea>
                <input
                    type="hidden"
                    name="_gotcha"
                    style="display:none !important"
                />
                <button class="bg-primary text-white p-2"> Enviar </button>
            </form>
        </section>

        <script is:inline>
            document
                .getElementById("form")
                .addEventListener("submit", formSubmit);

            function formSubmit(e) {
                e.preventDefault();
                const formData = new FormData(e.target);

                fetch("https://getform.io/f/aejereqb", {
                    method: "POST",
                    body: formData,
                    headers: {
                        Accept: "application/json",
                    },
                })
                    .then((response) => console.log(response))
                    .catch((error) => console.log(error));
            }
        </script>

        <!-- <form
            class="w-full max-w-sm mx-auto space-y-4 flex flex-col p-4"
            id="my-form"
            action="https://formspree.io/f/mvgqnjdz"
            method="POST"
        >
            <input
                type="email"
                name="email"
                placeholder="Email"
                class="border p-2"
                required
            />
            <textarea
                name="message"
                placeholder="Mensaje"
                class="border p-2"
                rows="4"
                required></textarea>
            <button class="bg-primary text-white p-2">Enviar</button>
            <p id="my-form-status"></p>
        </form>

        <script is:inline>
            var form = document.getElementById("my-form");

            async function handleSubmit(event) {
                event.preventDefault();
                var status = document.getElementById("my-form-status");
                var data = new FormData(event.target);
                fetch(event.target.action, {
                    method: form.method,
                    body: data,
                    headers: {
                        Accept: "application/json",
                    },
                })
                    .then((response) => {
                        if (response.ok) {
                            status.innerHTML = "¡Gracias por tu mensaje!";
                            form.reset();
                        } else {
                            response.json().then((data) => {
                                if (Object.hasOwn(data, "errors")) {
                                    status.innerHTML = data["errors"]
                                        .map((error) => error["message"])
                                        .join(", ");
                                } else {
                                    status.innerHTML =
                                        "Oops! Hubo un problema al enviar el mensaje.";
                                }
                            });
                        }
                    })
                    .catch((error) => {
                        status.innerHTML =
                            "Oops! Hubo un problema al enviar el mensaje.";
                    });
            }
            form.addEventListener("submit", handleSubmit);
        </script> -->
    </main>
    <Footer />
</Layout>
