---
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.astro";

const events = await getCollection("event");
---

<Layout>
	<Header />
	<main class="w-full max-w-6xl mx-auto px-4">
		<Calendar events={events} />
	</main>
	<Footer />
</Layout>
