---
import { getCollection } from "astro:content";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import Calendar from "@/components/Calendar.astro";
import Filter from "@/components/Filter.astro";
import Title from "@/components/Title.astro";
import EventMini from "@/components/EventMini.astro";
import Map from "@/components/Map.astro";

const events = await getCollection("event");

const futures = events
	.filter((event) => {
		const today = new Date();
		return event.data.start >= today;
	})
	.sort((a, b) => a.data.start.valueOf() - b.data.start.valueOf());
---

<Layout>
	<Header />
	<main class="flex-1 mb-6">
		<Title title="Calendario de eventos">
			<Filter />
		</Title>
		<section
			class="w-full max-w-6xl mx-auto px-4 flex flex-col lg:flex-row items-start gap-8"
		>
			<section class="w-full lg:flex-1 py-6">
				<Calendar events={events} />
			</section>
			<section class="lg:basis-1/4 pb-6 lg:py-6">
				<h2 class="text-2xl mb-4">Próximos eventos</h2>
				<div class="space-y-4">
					<EventMini {...futures?.[0]} />
					<EventMini {...futures?.[1]} />
					<EventMini {...futures?.[2]} />
					<EventMini {...futures?.[3]} />
				</div>
			</section>
		</section>
		<section class="w-full max-w-6xl mx-auto px-4 mb-8">
			<div class="mb-4">
				<h2 class="text-2xl">Mapa</h2>
				<p>
					Haz clic en tu provincia para ver los eventos que se
					celebran cerca de ti.
				</p>
			</div>
			<Map />
		</section>
		<section
			class="w-full max-w-6xl mx-auto px-4 flex flex-col xl:flex-row items-start gap-8"
		>
			<p>
				¿Quieres contribuir con un evento o corregir algún dato? La web
				es de código abierto. Entra en <a
					href="https://github.com/salteadorneo/agendados"
					class="text-primary underline hover:no-underline"
					>nuestro repositorio de GitHub</a
				> y envíanos un pull request. Si no sabes cómo hacerlo,
				<a
					href="/contacto"
					class="text-primary underline hover:no-underline"
					>contáctanos</a
				> o escríbenos a
				<a
					href="mailto:contacto@agendados.es"
					class="text-primary underline hover:no-underline"
				>
					contacto@agendados.es</a
				>.
			</p>
		</section>
	</main>
</Layout>
<Footer />
