---
import { getCollection } from "astro:content";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import Calendar from "@/components/Calendar.astro";
import Filter from "@/components/Filter.astro";
import Title from "@/components/Title.astro";

const events = await getCollection("event");
---

<Layout>
	<Header />
	<main class="flex-1">
		<Title title="Calendario de eventos">
			<Filter />
		</Title>
		<section class="w-full max-w-6xl mx-auto px-4">
			<Calendar events={events} />
		</section>
	</main>
</Layout>
<Footer />
