---
import { getCollection } from "astro:content";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import Calendar from "@/components/Calendar.astro";
import Filter from "@/components/Filter.astro";

const events = await getCollection("event");
---

<Layout>
	<Header />
	<main class="flex-1">
		<div
			class="relative flex items-end py-6 bg-primary bg-center bg-cover bg-no-repeat [clip-path:polygon(0_0,_100%_0,_100%_80%,_0%_100%)]"
		>
			<div
				class="w-full max-w-6xl mx-auto px-4 flex items-center justify-between"
			>
				<h1 class="text-3xl md:text-5xl text-balance text-white">
					Calendario de eventos
				</h1>
				<Filter />
			</div>
		</div>
		<section class="w-full max-w-6xl mx-auto px-4">
			<Calendar events={events} />
		</section>
	</main>
</Layout>
<Footer />
