---
import { getCollection, type CollectionEntry } from "astro:content";
import { slugify } from "@/utils";

const events = await getCollection("event");

const provinces = new Set<string>();
events.forEach((event: CollectionEntry<"event">) => {
    if (event.data.province) {
        provinces.add(event.data.province);
    }
});
---

<select class="p-2 bg-white" onchange="location = this.value">
    <option value="/eventos">Todos los eventos</option>
    {
        Array.from(provinces)
            .sort((a, b) => a.localeCompare(b, "es", { sensitivity: "base" }))
            .map((province) => (
                <option
                    value={`/eventos/${slugify(province)}`}
                    selected={Astro.params.province === slugify(province)}
                >
                    {province}
                </option>
            ))
    }
</select>
