---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { slugify } from "../utils";

const events = await getCollection("event");
const provinces = new Set<string>();
events.forEach((event: CollectionEntry<"event">) => {
    if (event.data.province) {
        provinces.add(event.data.province);
    }
});
---

<footer class="bg-primary text-white">
    <div class="container mx-auto px-4 py-6">
        <p class="text-lg text-center font-semibold mb-2">Eventos por ciudad</p>
        <ul class="flex flex-wrap justify-center gap-x-6">
            {
                Array.from(provinces).map((province) => (
                    <li class="text-center">
                        <a href={`/eventos/${slugify(province)}`}>{province}</a>
                    </li>
                ))
            }
        </ul>
    </div>
</footer>
