---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";

const { color } = Astro.props;
---

<header
    class="sticky top-0 z-40 bg-primary text-white"
    style={`background-color: ${color};`}
>
    <nav
        class="w-full max-w-6xl mx-auto p-4 flex justify-between items-center gap-4"
    >
        <a href="/">
            <Logo />
        </a>
        <div class="flex gap-4">
            <HeaderLink href="/">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="hidden"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path
                        d="M16 2a1 1 0 0 1 .993 .883l.007 .117v1h1a3 3 0 0 1 2.995 2.824l.005 .176v12a3 3 0 0 1 -2.824 2.995l-.176 .005h-12a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-12a3 3 0 0 1 2.824 -2.995l.176 -.005h1v-1a1 1 0 0 1 1.993 -.117l.007 .117v1h6v-1a1 1 0 0 1 1 -1zm3 7h-14v9.625c0 .705 .386 1.286 .883 1.366l.117 .009h12c.513 0 .936 -.53 .993 -1.215l.007 -.16v-9.625z"
                    ></path><path
                        d="M12 12a1 1 0 0 1 .993 .883l.007 .117v3a1 1 0 0 1 -1.993 .117l-.007 -.117v-2a1 1 0 0 1 -.117 -1.993l.117 -.007h1z"
                    ></path></svg
                >
                <span class="hidden sm:inline">Inicio</span>
            </HeaderLink>
            <HeaderLink href="/eventos/proximos">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="hidden"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path d="M3 5v14l8 -7z"></path><path
                        d="M14 5v14l8 -7z"></path></svg
                >
                <span class="">Próximos</span>
            </HeaderLink>
        </div>
    </nav>
</header>
