---
import Event from "./Event.astro";

const { events } = Astro.props;

const months = new Set<string>();
events.forEach((event: any) => {
    const start = event.data.start;
    const month = start.toLocaleString("es-ES", {
        month: "long",
        year: "numeric",
    });
    months.add(month);
});
---

<section>
    <ul>
        {
            Array.from(months).map((month) => (
                <li>
                    <h2 class="inline-block py-0.5 px-3 text-white mb-4 bg-primary [clip-path:polygon(5%_0,100%_0,95%_100%,0_100%)]">
                        {month}
                    </h2>
                    <ul class="space-y-4 mb-4">
                        {events
                            .filter(
                                (event: any) =>
                                    event.data.start
                                        .toLocaleString("es-ES", {
                                            month: "long",
                                            year: "numeric",
                                        })
                                        .toLowerCase() === month,
                            )
                            .map((event: any) => (
                                <li>
                                    <Event {...event} />
                                </li>
                            ))}
                    </ul>
                </li>
            ))
        }
    </ul>
</section>
