<div class="flex items-center gap-0.5">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        width="32"
        viewBox="0 0 24 18.18"
        fill="currentColor"
    >
        <path
            d="M14.45 5.68c-1.56 4.7-2.35 7.06-3.91 11.76 3.64.23 5.47.35 9.11.59 1.63-4.7 2.44-7.05 4.07-11.75l-9.27-.6Zm-1.43 10.07c-.49-.03-.73-.55-.53-1.16.2-.61.77-1.08 1.27-1.05.5.03.73.55.53 1.16-.21.61-.77 1.08-1.27 1.05Zm3.7-3.04c-.5-.03-.73-.55-.53-1.16s.78-1.08 1.27-1.05c.5.03.73.55.53 1.16-.21.61-.78 1.08-1.27 1.05Zm3.72-3.05c-.5-.03-.73-.55-.53-1.16.21-.61.78-1.08 1.28-1.04.5.03.74.55.53 1.16-.21.61-.78 1.08-1.28 1.04ZM6.93.93S4.42 6.32.3 7.73l6.57 5.32s4.75-2.17 6.41-7.68L6.93.93ZM7.59.41l8.52.55 7.1 4.49-9.27-.6L7.59.41z"
        ></path>
        <path
            d="m7.01 14.23-3.23-2.62-.37 1.21 6.42 4.44 3.48-10.38c-1.75 5.26-6.3 7.34-6.3 7.34Z"
        ></path>
    </svg>
    <p class="text-2xl font-light">
        AGEN<span class="font-normal">DADOS</span>
    </p>
</div>
