<!-- <div class="hexagon h-10"></div>
<span class="text-xl leading-5">
    <span class="font-semibold">Eventos</span>
    <br /><span class="font-light">de mesa</span>
</span> -->
<div class="flex items-center gap-2 text-lg sm:text-xl">
    <div class="hexagon bg-white h-7"></div>
    CALENDADOS
</div>

<style>
    .hexagon {
        aspect-ratio: 1 / cos(30deg);
        clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
    }
</style>
