<!-- <div class="hexagon h-10"></div>
<span class="text-xl leading-5">
    <span class="font-semibold">Eventos</span>
    <br /><span class="font-light">de mesa</span>
</span> -->
<div class="flex items-center gap-1">
    <div
        class="rotate-16 bg-white h-6 sm:h-7 aspect-[1/1.1547] [clip-path:polygon(50%_0%,100%_25%,100%_75%,50%_100%,0%_75%,0%_25%)]"
    >
    </div>
    <p class="text-lg sm:text-2xl">
        AGEN<span class="font-medium">DADOS</span>
    </p>
</div>
